.parent {
	border: 2px solid blue;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	width: 700px;
	height: 300px;
	-webkit-box-align: center; /* vertical alignment */
	/*-webkit-box-direction: reverse;*/
	/*-webkit-box-pack: center; These three are horizontal alignment. */
	/*-webkit-box-pack: start;*/
	/*-webkit-box-pack: end;*/
}

.parent .kid {
	border: 2px solid black;
	padding: 20px;
	margin: 10px;
	height: 100px;
	-webkit-box-flex: 1;
}

#one {
	background: green;
	/*-webkit-box-ordinal-group: 3;*/
}

#two {
	background: yellow;
	/*-webkit-box-ordinal-group: 1;*/
}

#three {
	background: red;
	/*-webkit-box-ordinal-group: 4;*/
}

#four {
	background: orange;
	/*-webkit-box-ordinal-group: 2;*/
}